<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mizhi.btbs.data.mapper.WfReProcdefMapper">
    <resultMap id="wfReProcdefMap" type="wfReProcdef">
        <id column="id" property="id"/><!--  -->
        <result column="group_id" property="groupId"/><!-- 所属id -->
        <result column="wf_type" property="wfType"/><!-- 流程类型 -->
        <result column="re_deploy_id" property="reDeployId"/><!-- 主表id -->
        <result column="step_current" property="stepCurrent"/><!-- 当前步骤 -->
        <result column="express_type" property="expressType"/><!-- 表达式类型 -->
        <result column="express_keys" property="expressKeys"/><!-- 表达式键 -->
        <result column="operate_type" property="operateType"/><!-- 操作类型 -->
        <result column="operator_type" property="operatorType"/><!-- 操作方类型 -->
    </resultMap>

    <insert id="insert" parameterType="wfReProcdef" useGeneratedKeys="true" keyProperty="id">
        insert into
        wf_re_procdef(
        <trim prefix="" prefixOverrides=",">
            <if test="id != null">,id</if>
            <if test="groupId != null">,group_id</if>
            <if test="wfType != null">,wf_type</if>
            <if test="reDeployId != null">,re_deploy_id</if>
            <if test="stepCurrent != null">,step_current</if>
            <if test="expressType != null">,express_type</if>
            <if test="expressKeys != null">,express_keys</if>
            <if test="operateType != null">,operate_type</if>
            <if test="operatorType != null">,operator_type</if>
        </trim>
        )values(
        <trim prefix="" prefixOverrides=",">
            <if test="id != null">,#{id,jdbcType=VARCHAR}</if>
            <if test="groupId != null">,#{groupId,jdbcType=VARCHAR}</if>
            <if test="wfType != null">,#{wfType,jdbcType=VARCHAR}</if>
            <if test="reDeployId != null">,#{reDeployId,jdbcType=VARCHAR}</if>
            <if test="stepCurrent != null">,#{stepCurrent,jdbcType=INTEGER}</if>
            <if test="expressType != null">,#{expressType,jdbcType=INTEGER}</if>
            <if test="expressKeys != null">,#{expressKeys,jdbcType=VARCHAR}</if>
            <if test="operateType != null">,#{operateType,jdbcType=INTEGER}</if>
            <if test="operatorType != null">,#{operatorType,jdbcType=INTEGER}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="wfReProcdef">
        update wf_re_procdef
        <set>
            <if test="groupId != null">group_id=#{groupId,jdbcType=VARCHAR},</if>
            <if test="wfType != null">wf_type=#{wfType,jdbcType=VARCHAR},</if>
            <if test="reDeployId != null">re_deploy_id=#{reDeployId,jdbcType=VARCHAR},</if>
            <if test="stepCurrent != null">step_current=#{stepCurrent,jdbcType=INTEGER},</if>
            <if test="expressType != null">express_type=#{expressType,jdbcType=INTEGER},</if>
            <if test="expressKeys != null">express_keys=#{expressKeys,jdbcType=VARCHAR},</if>
            <if test="operateType != null">operate_type=#{operateType,jdbcType=INTEGER},</if>
            <if test="operatorType != null">operator_type=#{operatorType,jdbcType=INTEGER},</if>
        </set>
        where id=#{id}
    </update>

    <select id="load" parameterType="string" resultMap="wfReProcdefMap">
    		select * from wf_re_procdef where id=#{id}
    	</select>

    <sql id="queryCommonSql">
        FROM wf_re_procdef wrp
        <where>
            <choose>
                <when test="id != null and id.trim() != ''">wrp.id = #{id}</when>
                <when test="ids != null and ids.size>0">
                    wrp.id in
                    <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">#{item}
                    </foreach>
                </when>
            </choose>
            <if test="groupId != null and groupId.trim() !=''">and wrp.group_id = #{groupId}</if>
            <if test="wfType != null and wfType.trim() !=''">and wrp.wf_type = #{wfType}</if>
            <if test="reDeployId != null">and wrp.re_deploy_id = #{reDeployId}</if>
            <if test="stepCurrent != null">and wrp.step_current = #{stepCurrent}</if>
            <if test="expressType != null">and wrp.express_type = #{expressType}</if>
        </where>
    </sql>

    <select id="queryList" parameterType="wfReProcdefQuery" resultMap="wfReProcdefMap">
        select wrp.id
            ,wrp.group_id
            ,wrp.wf_type
            ,wrp.re_deploy_id
            ,wrp.step_current
            ,wrp.express_type
            ,wrp.express_keys
            ,wrp.operate_type
            ,wrp.operator_type
        <include refid="queryCommonSql"/>
    </select>

    <select id="queryCount" parameterType="wfReProcdefQuery" resultType="int">
        select count(1)
        <include refid="queryCommonSql"/>
    </select>

    <delete id="delete" parameterType="string">
    		delete from wf_re_procdef where id=#{id}
    	</delete>
</mapper>